body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

h1, h2 {
    color: #ff6347;
}

h1 {
    text-align: center;
}

.classes, .months {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.class-tile, .month-tile {
    background-color: #ffcc99;
    padding: 20px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    width: 150px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.class-tile:hover, .month-tile:hover {
    background-color: #ff9966;
}

